@import '../../component/variable.scss';

.side-bar-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px 24px;
}

.side-line {
  display: none;
}

@media screen and (max-width: $screenDesktop) {
  .side-bar-container {
    width: 90px;
    gap: 30px;

    .side-line {
      order: 3;
      display: inline-block;
      background-color: var(--border);
      padding: 1px;
    }
  }
}
