@import "../../component/variable.scss";

.about-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 120px;
  color: var(--primary);
  background-color: red;
  @include slideInAnimation();

  .about__header {
    display: flex;
    gap: 20px;

    .about__personal-info {
      display: flex;
      flex-direction: column;
      gap: 40px;
      flex: 1;

      .about__name-role {
        .about__name {
          font-size: $text-h1;
          font-weight: 500;
          color: var(--primary);
          margin-bottom: 5px;
        }

        .about__role {
          font-weight: 400;
          font-size: $text-h1;
          color: var(--secondary);
        }
      }

      .about__description {
        color: var(--secondary);
        font-size: $text-h4;
        line-height: 30px;
        word-spacing: 1px;

        .about__description-content {
          margin-bottom: 20px;
        }
      }
    }

    .about__profile-content {
      width: 180px;
      height: 200px;
      overflow: hidden;
      border-radius: 20px;
      box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1),
        0 16px 24px rgba(0, 0, 0, 0.1);
      background-color: var(--surface);

      .about__profile-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.divider-education-experience {
  width: 100%;
  overflow: auto;
  height: 2px;
  background-color: var(--border);
}

@media screen and (max-width: $screenVerticleMobile) {

  .about-container {
    gap: 60px;

    .about__header {

      .about__personal-info {

        .about__name-role {
          .about__name {
            font-size: $text-h1m;
          }

          .about__role {
            font-weight: 400;
            font-size: $text-h1m;
            color: var(--secondary);
          }
        }

        .about__description {
          color: var(--secondary);
          font-size: $text-h5;
          line-height: 30px;
          word-spacing: 1px;

          .about__description-content {
            margin-bottom: 20px;
          }
        }
      }

      .about__profile-content {
        display: none;
      }
    }
  }
}