@import "../variable.scss";

.tools {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.tools__heading {
    font-size: $text-h2;
}

.tools__description {
    @include slideInAnimation();
}
