@import "../variable.scss";

.chip {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px 20px;
    width: calc(50% - 2px);
    border: 1px solid var(--border);
    background-color: var(--bg2);
    opacity: 0.7;

    &:hover {
        opacity: 1;

    }

    .chip__heading {
        font-size: $text-h4;
    }
}

@media screen and (max-width: $screenVerticleMobile) {
    .chip {
        width: 100%;
    }
}