@import "../varibale.scss";

.side-mode-container {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  align-items: center;
  color: var(--tertiary);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  &:hover {
    background-color: var(--ghost-bg-hover);
  }
}
