@import "../../component/variable.scss";



.contact-container {
    width: 100%;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    gap: 120px;

    .contact-header {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .heading-description {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .contact-heading {
                font-size: $text-h1;
                font-weight: 500;
            }

            .contact-description {
                color: var(--secondary);
                font-size: $text-h4;
            }
        }

        .contact-information {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 40px;

            .contact-line {
                height: 3px;
                background-color: var(--border);
            }

            .email-phone-contact {
                width: 100%;
                display: flex;
                gap: 30%;

                .email-container-contact {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .address {
                        font-size: $text-p1;
                        word-spacing: 1px;
                        color: var(--primary);
                    }

                    .label {
                        font-weight: 600;
                        font-size: $text-p1;
                        color: var(--secondary);
                    }
                }
            }
        }

        .btn-container-contact {
            display: flex;
            gap: 16px;

            .btn-call {
                cursor: pointer;
                padding: 12px 16px;
                text-decoration: none;
                font-size: $text-p1;
                font-weight: 500;
                border-radius: 10px;
                border: none;
                color: var(--btn-light);
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                background-color: var(--action-bg-normal);

                &:hover {
                    background-color: var(--action-bg-hover);
                }
            }
        }
    }

    .form-main-container {
        @include slideInAnimation();
        display: flex;
        flex-direction: column;
        gap: 32px;

        .form-heading {
            font-size: $text-h2;
        }

        .form-container {
            display: flex;
            flex-direction: column;
            gap: 20px;

            * {
                font-size: $text-p1;
                font-weight: 600;
            }

            .name-email-container {
                display: flex;
                gap: 20px;
                width: 100%;

                .input-name {
                    padding: 16px;
                    border-radius: 8px;
                    background-color: var(--bg2);
                    color: var(--primary);
                    border: none;
                    width: 50%;
                    outline: none;
                }

                .input-email {
                    padding: 16px;
                    border-radius: 8px;
                    background-color: var(--bg2);
                    color: var(--primary);
                    border: none;
                    width: 50%;
                    outline: none;
                }
            }

            .text-area-contact {
                padding: 16px;
                border-radius: 8px;
                background-color: var(--bg2);
                color: var(--primary);
                border: none;
            }

            .contact-form-btn {
                background-color: var(--green);
                color: var(--btn-light);
                padding: 16px;
                border-radius: 8px;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: $screenDesktopMedium) {
    .contact-container {}
}

@media screen and (max-width: $screenDesktop) {
    .contact-container {}
}

@media screen and (max-width: $screenVerticleMobile) {
    .contact-container {
        width: 100%;

        .contact-header {
            .contact-information {
                .contact-line {}

                .email-phone-contact {
                    flex-direction: column;
                    gap: 20px;
                }
            }

            .btn-container-contact {
                width: 100%;
                flex-direction: column;
            }
        }

        .form-main-container {
            .form-heading {}

            .form-container {
                .name-email-container {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .input-name {
                        width: 100%;
                    }

                    .input-email {
                        width: 100%;
                    }
                }
            }
        }
    }
}