@import "../variable.scss";

.side-social-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  * {
    transition: background-color 0.3s ease-in-out;
  }

  .side-social-item {
    display: grid;
    place-content: center;
    border-radius: 50%;
    padding: 5px;
    width: min-content;
    cursor: pointer;
    color: var(--secondary);
    background-color: var(--ghost-bg-normal);

    &:hover {
      background-color: var(--ghost-bg-hover);
      color: var(--primary);
    }
  }

  .side-social-item-twitter {
    @include positioned-social-tooltip("twitter");
  }

  .side-social-item-linkedln {
    @include positioned-social-tooltip("Linkedln");
  }

  .side-social-item-leetcode {
    @include positioned-social-tooltip("leetcode");
  }
}

@media screen and (max-width: $screenDesktop) {
  .side-social-item-container {
    order: 4;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: $screenVerticleMobile) {
  .side-social-item-container {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 20px;
  }
}