@import "../variable.scss";

.sidebar-menu-item {
  width: 100%;
  height: 40px;
  display: flex;
  border-radius: 12px;

  .sidebar-menu-link {
    text-decoration: none;
    width: 100%;
    font-size: var(--text-p2);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--tertiary);
    background-color: var(--ghost-bg-normal);
    padding: 2px 12px;

    &:hover {
      color: var(--secondary);
      background-color: var(--ghost-bg-hover);
    }

    .sidebar-menu-icon {
      display: flex;
      align-items: center;
      width: 24px;
    }
  }
}

.sidebar-menu-item>.active {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--ghost-bg-selected);
  color: var(--primary);

  &:hover {
    background-color: var(--ghost-bg-selected);
    color: var(--primary);
  }
}

@media screen and (max-width: $screenDesktop) {
  .sidebar-menu-item {
    overflow: visible;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0px;

    .sidebar-menu-link {
      gap: 20px;
    }

    .sidebar-menu-text {
      display: none;
    }

    &:hover {
      background-color: var(--ghost-bg-hover);

      .sidebar-menu-text {
        display: inline-block;
        background-color: var(--bg1);
        padding: 5px 10px;
        border-radius: 5px;
      }
    }
  }
}

@media screen and (max-width: $screenVerticleMobile) {
  .sidebar-menu-item {
    height: 40px;
    width: 100%;

    .sidebar-menu-link {
      gap: 10px;
    }

    .sidebar-menu-text {
      display: inline-block;

      &:hover {
        background-color: transparent;
      }
    }

    &:hover {
      background-color: transparent;

      .sidebar-menu-text {
        display: inline-block;
        background-color: transparent;
        display: block;
        padding: 0;
        border-radius: 5px;
        overflow: hidden;
      }
    }
  }
}