@import "../variable.scss";

.footer-portfolio {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    .footer-line {
        background-color: var(--bg2);
        height: 1px;
        margin-bottom: 10px;
    }

    .footer-content {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: $text-p1;
        color: var(--tertiary);

        .author {
            color: var(--primary);

            &:hover {
                color: var(--Accent);
            }
        }

        .footer-year {
            font-style: italic;
        }
    }

    // @include slideInAnimation();
}
