@import "../../component/variable.scss";

.portfolio-container {
  display: flex;

  .nav-bar-box {
    position: fixed;
    height: 100vh;
    width: 18vw;
    min-width: 260px;
    background-color: var(--bg);
  }

  .main-content-box {
    flex: 1;
    padding: 140px;
    background-color: var(--bg1);
    margin: 10px 10px 10px calc(18vw + 10px);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 90vw;
  }
}

@media screen and (max-width: $screenDesktopMedium) {

  .portfolio-container .main-content-box {
    padding: 100px;
    margin: 10px 10px 10px 260px;
  }
}

@media screen and (max-width: $screenDesktop) {
  .portfolio-container .nav-bar-box {
    width: 90px;
    min-width: 90px;
    height: 100vh;
  }

  .portfolio-container .main-content-box {
    padding: 90px;
    margin-left: 90px;
  }
}

@media screen and (max-width: $screenVerticleMobile) {
  .portfolio-container {
    flex-direction: column;
    justify-content: center;
  }

  .portfolio-container .nav-bar-box {

    position: static;
    height: min-content;
  }

  .portfolio-container .main-content-box {
    padding: 60px 20px 20px 20px;

    margin: 10px;
    width: calc(98vw - 12px);

    height: 100vh;
  }
}

@media screen and (max-width: $screenMobile) {
  .portfolio-container .main-content-box {}
}